/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap'); */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bubblegum Sans', cursive;
}
.block1, .block3, .block4 {
    width: 100px;
    height: 100px;
    position: absolute;
    background-size: 100%;
    left: 0px;
    top: 0px;
    z-index: 2;
    /* border-radius: 50%; */
    /* background-image: url(./icons8-волейбол-96.png); */
  }

  .block3{
    top: 200px;
  }
  .block4{
    top: 400px;
  }
 
body{
    background-color: antiquewhite;
    height: 100vh;
}
.bodyForMain{
    background-color: white;
    height: 0;
}
.hide{
    display: none !important;
}
button{
    background-color: transparent;
    border: 3px solid black;
    border-radius: 20px;
    padding: 2px 25px;
}
#start{
    width: 200px;
    padding: 10px 25px;
    font-size: 30px;
}
.block2{
    width: 150px;
    height: 150px;
    background-image: url(./icon/table.png);
    position: absolute;
    right: 100px;
    top: 30%;
    background-size: cover;
    z-index: 1;
}
.block2-1, .block2-2{
    width: 150px;
    height: 150px;
    /* background-image: url(./icon/chair.png); */
    position: absolute;
    right: 100px;
    top: 60%;
    background-size: cover;
    z-index: 1;
}
.block2-2{
    top: 90%;
}
.language {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    gap: 15px;
    margin-top: 50px;
}
.language a {
    padding: 10px 30px 10px 30px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    cursor: pointer;
    color: black;
    text-decoration: none;
}
.language a:hover {
    background-color: rgb(194, 186, 177);
}
.creators {
    position: relative;
}
.creators div {
    /* position: fixed; */
    /* bottom: 26px; */
    /* left: 12px; */
    width: 100%;
    /* height: 100px; */
    background-color: white;
    padding: 10px;
    font-size: 2em;
}
.creators div:first-child p {
    margin-bottom: 10px;
}
.text{
    display: flex;
    font-weight: 400;
    font-size: 30px;
    border: none !important;
}
.start header{
    /* height: 10vh; */
}
.start div {
    height: 50vh;
}
.start{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40vh;
    text-align: center;
}
header img{
    width: 90%;
    /* height: 50%; */
}
header{
    display: flex;
    justify-content: center;
}
.tasks {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    gap: 15px;
 }
 .tasks div {
    padding: 10px 30px 10px 30px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    cursor: pointer;
 }
 .tasks div:hover {
    background-color: rgb(194, 186, 177);
 }
 .description div img{
    width: 40px;
 }
 .description div{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .description{
    /* height: 15%; */
 }
.game{
    height: 100%;
}
.part1{
    height: 80%;
    position: relative;
}
.description p {
    text-align: center;
    font-size: 1.5em;
}
#mainPage img{
    width: 50px;
    cursor: pointer;
}
#mainPage{
    background-color: transparent;
    border: none;
}
.won, .thank{
    text-align: center;
    width: 280px;
    padding: 10px;
    background-color: rgb(222, 255, 187);
    border-radius: 20px;
    position: absolute;
    top: 40%;
    left: 43%;
}
.won h1{
    margin-bottom: 10px;
}